*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	width:1140px;
	margin:0 auto;
}
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.row,
.row::after,
.row::before {
  clear: both;
  display: table;
  width: 100%;
}
.col6,
.col12,
.col10,
.col4,
.col3,
.col9,
.col2,
.col8,
.col5,
.col7{
	float:left;
	padding:0 15px;
}
.col6{
	width:50%;
}
.col12{
	width:100%;
}
.col10{
	width:calc((100% / 12) * 10);
}
.col4 {
  width: calc(100% / 3);
 
}
.col9{
	 width: 75%;
}
.col3 {
  width: 25%;
}
.col2{
	width:calc((100% / 12) * 2);
}
.col8{
	width:calc((100% / 12) * 8);
}
.col5{
	width:calc((100% / 12) * 5);
}
.col7{
	width:calc((100% / 12) * 7);
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
ol,ul{
	list-style:none;
}
.ml-onegrid{
	margin-left: calc(100% / 12);
}