.header{
	padding:25px 0 0px;
	position:relative;
}
.navbar{
	position:relative
}
.header ul{
	display:inline-block;
	padding:25px 15px 15px 15px;
}
.header ul li{
	display:inline-block;
}
.header ul li a {
	font-size:18px;
	color:#006a4d;
	font-weight:bold;
	text-transform:uppercase;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
}
.navbar li a:active,
.navbar li a:hover,
.navbar li a:focus,
.navbar li a.active{
	color:#69be28;
	
}
.navbar li{
	position:relative;
	cursor:pointer;
}
.navbar li::before{
	content: '';
	
	background-color:#69be28;
	width:0%;
	height:3px;
	left:0;
	bottom:0;
	position:absolute;
	transition:0.5s all ease-in-out;
}
.navbar li:hover::before{
	width:100%;
}
.btn-register{
	background-color:#69be28;
	color:#fff;
	border:2px solid #69be28;
	outline:none;
	text-transform:uppercase;
	padding:18px;
	position:absolute;
	top: 30px;
    right: 190px;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
}
.btn-register:active,
.btn-register:focus,
.btn-register:hover,
.btn-register:visited{
	background-color:#fff;
	color:#69be28;
}
.hero{
	position:relative;
	background-image:url(../img/hero.jpg);
	height:100vh;
	width:100%;
	background-repeat:no-repeat;
	background-position:fixed;
	background-size:cover;
	background-attachment:center;
}
.box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.sec-heading{
	font-size:58px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:30px;
	text-decoration:underline;
	font-family: 'Open Sans', sans-serif;
}
.sec-info{
	color:#fff;
	font-size:32px;
	font-weight:bold;
	margin-bottom:30px;
	font-family: 'Open Sans', sans-serif;
}

.about{
	padding:125px 0 100px;
}
.about-heading{
	font-size:36px;
	font-weight:bold;
	color:#006a4d;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.about-para{
	font-size:16px;
	font-weight:lighter;
	margin-bottom:25px;
	line-height:18px;
	font-family: 'Open Sans', sans-serif;
	
}
.about-subheding{
	font-size:20px;
	font-weight:bold;
	color:#006a4d;
	margin-bottom:15px;
	font-family: 'Open Sans', sans-serif;
}
.about-img{
	padding:45px 0 0 0;
}

.SPEAKERS{
	padding:100px 0;
	background-color:#006a4d;
}
.speaker-heading{
	font-size:36px;
	font-weight:bold;
	color:#fff;
	margin-bottom:25px;
	font-family: 'Open Sans', sans-serif;
}
.speaker-subheading{
	font-size:16px;
	font-weight:bold;
	color:#fff;
	margin-bottom:50px;
	font-family: 'Open Sans', sans-serif;
}
.speaker-name{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	margin:12px 0;
	font-family: 'Open Sans', sans-serif;
}
.speaker-post{
	font-size:14px;
	font-weight:bold;
	color:#fff;
	margin-bottom:70px;
	font-family: 'Open Sans', sans-serif;
}
.btn{
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	border:2px solid #fff;
	background-color:#006a4d;
	color:#fff;
	padding:15px 20px;
	font-family: 'Open Sans', sans-serif;
}
.btn:active,
.btnr:focus,
.btn:hover,
.btn:visited{
	background-color:#fff;
	color:#006a4d;
}
.footer{
	padding:80px 0 75px;
	background-color:#3c3c3c;
}
.footer ul{
	display:inline-block;
}
.footer ul li{
	display:inline-block;
	color:#fff;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.follow {
	margin:0px 25px 15px 30px;	
	color:#fff;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.footer ul li a{
	color:#fff;
	border:2px solid #fff;
	border-radius:50%;
	padding:5px;
	margin-top:15px;
	font-size:18px;
}